@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";

}

<h1>Confirm Pickup</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Address" />
            <input type="hidden" asp-for="ZipCode" />
            @*<div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <input type ="submit" input asp-for="Balance" value="Confirm" class="btn btn=primary" />
                <span asp-validation-for="Balance" class="btn btn-primary"></span>
            </div>*@
            @*<input type="hidden" asp-for="Balance" />*@

            <div class="form-group">
                <input type="hidden" asp-for="Balance" /> 
                <input type ="submit" class="btn btn-primary" value="Confirm"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Today's Pickups</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
