@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please <a asp-area="Identity" asp-page="/Account/Login">sign in.</a></p>
    <p>If you are new to TrashCollector, please <a asp-area="Identity" asp-page="/Account/Register">register.</a></p>
</div>
